In [19]:
import pandas as pd
import json

In [20]:
with open("trading_history.json") as f:
    data = json.load(f)
    df = pd.DataFrame(data)

   cmd       order  digits  offset      order2    position     symbol comment  \
0    0  1347305290       2       0  1347305267  1347305290  MRNA.US_9

  customComment  commission  ...  closed      timestamp  spread  taxes  \
0          None         0.0  ...   False  1717783726429       0    0.0

       open_time                open_timeString  close_time  close_timeString  \
0  1717684813962  Thu Jun 06 16:40:13 CEST 2024        None              None

   expiration  expirationString
0        None              None

[1 rows x 29 columns]

In [21]:
df.columns

Index(['cmd', 'order', 'digits', 'offset', 'order2', 'position', 'symbol',
       'comment', 'customComment', 'commission', 'storage', 'margin_rate',
       'close_price', 'open_price', 'nominalValue', 'profit', 'volume', 'sl',
       'tp', 'closed', 'timestamp', 'spread', 'taxes', 'open_time',
       'open_timeString', 'close_time', 'close_timeString', 'expiration',
       'expirationString'],
      dtype='object')

In [22]:
df = df[['symbol', 'nominalValue', 'profit', 'volume']]

In [23]:
df = df.groupby(by="symbol").agg({
    'nominalValue': 'sum',
    'profit': 'sum',
    'volume': 'sum'
}).reset_index()

In [25]:
df["currentValue"] = df["nominalValue"] + df["profit"]
df["profit_p"] = df["profit"] / df["nominalValue"]

In [26]:
df

      symbol  nominalValue  profit   volume  currentValue  profit_p
0  META.US_9       4768.27  162.17   2.5046       4930.44  0.034010
1  MRNA.US_9       1249.93  -44.94   2.0201       1204.99 -0.035954
2  NCLH.US_9       1484.54  105.90  22.6541       1590.44  0.071335
3  PYPL.US_9       1220.91   17.41   4.6000       1238.32  0.014260